// Esto es una prueba
// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600i,800");

@import '../scss/componets/header.scss';
// Layout CSS

body {
  padding: 0;
  margin: 0;
  background: #000;
  color: #fff;
}

//Components
